{% extends 'base.html' %}

{% block content %}

    
<div class="container">
  <div class="row equal-height-grid">
    
    <!-- big charts start -->
    <div class="col s12">
    
      <div class="card">
        <div class="card-metrics card-metrics-toggle card-metrics-centered">
          <div class="card-metric waves-effect active" data-metric="revenue">
            <div class="card-metric-title">TOTAL VALUE</div>
            <div class="card-metric-value">$12,476.00</div>
            <div class="card-metric-change">
              <i class="material-icons">keyboard_arrow_up</i>
              12%
            </div>
          </div>
          <div class="card-metric waves-effect" data-metric="users">
            <div class="card-metric-title">CHANGE</div>
            <div class="card-metric-value">2024</div>
            <div class="card-metric-change">
              <i class="material-icons">keyboard_arrow_up</i>
              9%
            </div>
          </div>
          <div class="card-metric waves-effect" data-metric="ctr">
            <div class="card-metric-title"></div>
            <div class="card-metric-value"></div>
            <div class="card-metric-change">
              <i class="material-icons"></i>
            </div>
          </div>
        </div>
        <div class="card-content">
          <canvas class="card-chart" id="main-toggle-line-chart" height="300"></canvas>
        </div>
      </div>
    </div>
      
    <br>
    <!-- chart end -->
        
    <!-- summary start card -->
    
    <div class="col s12">
      <div class="card admin-green white-text">
        <div class="card-toolbar">
          <div class="card-toolbar-title">Account Summary</div>
          <div class="card-toolbar-actions"></div>
        </div>
        <div class="card-content card-align-center">
          <span class="card-title">Total Value of All Wallets</span>
          <br>
          <p class="white-text">$80,000</p>
        </div>
      </div>
    </div>
    <!-- summary card end  -->
    
    <!-- wallets start  -->
    {% if wallets %}
      {% for wallet in wallets %}
        <div class="col l3 m6 s12">
          <div class="card admin-blue white-text">
            <div class="card-toolbar">
              <div class="card-toolbar-title"><i class="material-icons left"></i>{{ wallet.name }}</div>
              <div class="card-toolbar-actions">
              </div>
            </div>
            <div class="card-content card-align-top">
              <span class="card-title">{{ wallet.name }} </span>
              <ul>
                {% if wallet.coins %}
                  {% for coin in wallet.coins %}
                   <li>{{ coin.name }} - {{ coin.symbol }} - Amount: {{ coin.amount }} - price: {{ coin.price }}</li>
                  {% endfor %}
                {% else %}
                  <p>This wallet has no coins</p>
                {% endif %}
              </ul>
            </div>
            <div class="card-content card-align-bottom">
              <p class="white-text">Balance of this wallet is: $500</p>
              <div class="card-action">
                <a 
                  class="waves-effect waves-light btn"
                  href="{% url 'detail' wallet.id %}"
                  >
                  Buy/Sell
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %} 
    {% endif %}
  
    <!-- wallet Add Start -->
     <div class="col l3 m6 s12">
      <div class="card admin-pink white-text">
        <div class="card-toolbar">
          <div class="card-toolbar-title"><i class="material-icons left"></i>Add Wallet</div>
          <div class="card-toolbar-actions">
          </div>
        </div>
        <div class="card-content card-align-center">
          <span class="card-title">Add wallet</span>
          <form action="{% url 'add_wallet' %}" method="POST">
            {% csrf_token %}
            {{ wallet_form.as_p }}
            <input type="submit" value="Add Wallet" class="btn blue">
          </form>
        </div>
      </div>
    </div>
    
    <!-- wallet add end -->
    
</div>
</div>

    
    <!-- External libraries -->
   
   {% endblock %}